PORT=8080
DATA_PATH=./data
CUSTOM_HOST=host.docker.internal
SECRET_KEY=replace_with_at_least_32_characters
# Default local SQLite:
# DATABASE_URL=sqlite:///./data/database.db
# PostgreSQL example:
DATABASE_URL=postgresql://basicvids_auth_user:change_me@host.docker.internal:5432/basicvids_auth
REDIS_URL=redis://basicvids_redis:6379/2
